/* цвета https://colorscheme.ru/html-colors.html */
* {
  font-size: 16px;
  line-height: 1.40;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.hidden {
  display: none;
}

.chbx-wrapper {
  display: inline-block;
  width: 24px;
}
.items {
  margin-left: 24px;
}
.check-all {
  color: #708090;
  font-style: italic;
}

/*--- START of custom checkboxes ---*/
.custom {
  /*position & size*/
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin: 0 auto;
  /*default controls style reset*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*default controls style override*/
  border: 1px solid #000;
  border-radius: 3px;
}
.custom:hover {
  border-color: #808080;
}
.custom:active,
.custom:checked:active {
  border-color: #a9a9a9;
  background-color: #808080;
}
.chbx-check.custom:checked {
  background: url(svg/check.svg);
}
.chbx-expand.custom {
  background: url(svg/plus.svg);
}
.chbx-expand.custom:checked {
  background: url(svg/minus.svg);
}

/*--- END of custom checkboxes ---*/
