* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.hidden {
  display: none;
}

ul,
.childs {
  margin: 0 0;
  list-style: none;
}
.childs-text {
  display: inline;
  font-style: italic;
  font-weight: bolder;
  color:blue;
}

.check,
.info,
.expand-placeholder {
  display: inline-block;
}

.check.all {
  margin-left: 59px;
}

.expand {
  padding: 0;
  font-size: 16px;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
}
.expand-placeholder {
  width: 12px;
  height: 12px;
  margin: 3px 3px 4px 4px;
}

